@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$color-background: #F1FAEE;
$color-font: #1D3557;
$color-dark: #457B9D;
$color-bright: #A8DADC;
$color-accent: #E63946;

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px $color-dark;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb{
    background: $color-bright;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: $color-bright;
    box-shadow: inset 0 0 5px $color-dark;
}
::-webkit-scrollbar-track-piece{
    background: $color-background;
}

html{
    scrollbar-color: $color-font $color-dark;
    scroll-behavior: smooth;

    body{
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Mono', monospace;;
        background-color: $color-bright;
        overflow-x: hidden;
    
        header{
            display: flex;
            padding: 30px;
    
            input{
                width: 55px;
                height: 55px;
                position: absolute;
                opacity: 0;
                cursor: pointer;
                z-index: 3;
            }
            input:checked ~ .menucontainer{
                opacity: 1;
                transform: translateX(20px);
                transition: all 0.3s linear;
            }
            input:checked ~ .menu #bottom{
                opacity: 0;
            }
            input:not(:checked) ~ .menu #bottom{
                opacity: 1;
            }
            input:checked ~ .menu #middle{
                transform: rotate(45deg);
                width: 100%;
                background-color: $color-background;
            }
            input:checked ~ .menu #top{
                rotate: -45deg;
                translate: 0px 20px;
                background-color: $color-background;
            }
            input:hover ~ .menu #middle{
                width: 100%;
            }
            input:hover ~ .menu #bottom{
                width: 100%;
            }
            input:checked:hover ~ .menu #top{
                background-color: $color-accent;
            }
            input:checked:hover ~ .menu #middle{
                background-color: $color-accent;
            }
            .menu{
                height: 60px;
                width: 60px;
                z-index: 2;

                #top, #middle, #bottom{
                    background-color: $color-dark;
                    height: 13px;
                    border-radius: 10px;
                }
                #top{
                    width: 100%;
                    animation: topOnload ease 0.8s;
                    transition: 0.5s;
                }
                #middle{
                    width: 75%;
                    margin-top: 8px;
                    animation: middleOnload ease 0.8s;
                    transition: 0.5s;
                }
                #bottom{
                    width: 22%;
                    margin-top: 8px;
                    transition: width 0.5s;
                    transition: 0.3s;
                }
            }
            .menucontainer{
                transform: translateX(-10px);
                transition: all 0.3s linear;
                opacity: 0;
                background-color: $color-dark;
                height: 60px;
                width: 500px;
                position: absolute;
                border-radius: 30px;
                margin-top: -3px;
                margin-left: -30px;
                padding-left: 50px;

                ul{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    list-style-type: none;
                    margin-left: -40px;
                    
                    a{
                        position: relative;
                        display: block;
                        font-size: 21px;
                        color: $color-background;
                        text-decoration: none;
                        margin-left: 40px;

                        &::after{
                            position: absolute;
                            content: "";
                            top: 100%;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background: $color-background;
                            transform: scaleX(0);
                            transform-origin: right;
                            transition: transform 0.5s;
                        }
                        &:hover::after{
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }
                }
            }
        }
        main{
            height: 800px;
            position: relative;
            z-index: -1;

            h1{
                color: $color-font;
                font-size: 120px;
                margin-left: 40px;
                font-weight: bold;
                letter-spacing: 15px;
                grid-column: 1; grid-row: 1;
                margin-bottom: 0;
                z-index: 1;
                animation-name: nameAppear;
                animation-timing-function:ease;
                animation-duration: 3s;
            }
            h2{
                color: $color-accent;
                font-size: 50px;
                margin-left: 46px;
                margin-top: auto;
                z-index: 1;
                animation-name: nameAppear;
                animation-timing-function:ease;
                animation-duration: 4s;
            }
            .name{
                margin-top: 120px;
                display: grid;
            }
            &:before, &:after{
                content: "";
                position: absolute;
                left: 50%;
                width: 300vw;
                height: 300vw;
                background-color: $color-background;
                animation-name: wave;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            &:before{
                bottom: 150px;
                border-radius: 45%;
                animation-duration: 10s;
            }
            &:after{
                bottom: 120px;
                opacity: .5;
                border-radius: 47%;
                animation-duration: 10s;
            }
            .arrow{
                position: fixed;
                bottom: 0;
                left: 50%;
                margin-left: -20px;
                width: 40px;
                height: 40px;
                background-image: url(/img/arrowDown.svg);
                background-size: contain;
            } 
            .bounce{
                animation: bounce 2s infinite;
            }
        }
        #projekty{
            width: 100%;
            height: 900px;
            background: linear-gradient(180deg, $color-bright 0%, $color-bright 80%, $color-dark 100%);

            img{
                width: 100%;
                border-radius: 5px;
                transition: 0.5s;
                border: $color-font 1px solid;
            }
            div{
                width: 20%;
                margin-left: 10%;
                text-align: center;
                float: left;

                p{
                    color: $color-font;
                    font-size: 50px;
                }
            }
            img:hover{
                transform: scale(1.05);
                transition: 0.5s;
            }
        }
        #omnie{
            background-color: $color-dark;
            width: 100%;
            height: 100vh;
            color: $color-font;
            padding-left: 5vw;
            padding-right: 5vw;
            overflow-wrap: normal;

            h1{
                font-size: calc(35px + 1.5vw);
                margin: 0;
            }
            p{
                font-size: calc(5px + 1vw);
                margin-right: 10vw;
            }
            mark{
                color: $color-accent;
                background-color: transparent;
            }
            .left{
                background-color: rgb(255, 0, 0, 0.5);
                float: left;
                width: 10%;
                clear: both;
            }
            .right{
                background-color: rgb(0, 255, 0, 0.5);
                float: left;
                width: 75%;
                padding-left: 5vw;
            }
        }
        #kontakt{
            width: 100%;
            height: 100vh;
            background-color: $color-font;
        }
        .game{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 85vh;

            .lista{
                width: 300px;

                h1{
                    text-align: center;
                }
                .input{
                    display: flex;
                    padding-bottom: 40px;

                    #inputList{
                        width: 90%;
                    }
                    #add{
                        width: 10%;
                        font-size: 20px;
                    }
                }
                .container{
                    width: 300px;
                    display: flex;
                    flex-direction: column;

                    .content{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;

                        .check{
                            width: 35px;
                            height: 35px;
                            margin: 0;
                        }
                        .textvalue{
                            width: 90%;
                            margin: 0;
                            padding-top: 6px;
                            padding-left: 6px;
                        }
                        .trash{
                            width: 30px;
                            height: 30px;
                            margin-top: 2px;
                        }
                        .trash:hover{
                            cursor: pointer;
                        }
                        .check:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .wrapper{
            width: 65vmin;
            height: 70vmin;
            background-color: $color-dark;
            border-radius: 5px;
            display: flex;
            overflow: hidden;
            flex-direction: column;
        }
        .wyniki{
            color: $color-background;
            padding: 20px 27px;
            display: flex;
            justify-content: space-between;
        }
        .gra{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template: repeat(20, 1fr) / repeat(20, 1fr);
            background-color: $color-font;

            .food{
                background-color: $color-accent;
            }
            .player{
                background-color: $color-dark;
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    
    body{
        main{
            h1{
                word-spacing: 100vw;
                margin-top: -50px;
            }
        }
        #projekty{
            p{
                font-size: 28px !important;
            }
        }
    }
}
@media screen and (max-width: 855px) {
    
    body{
        main{
            h1{
                font-size: 80px !important;
                margin-top: -50px;
            }
            h2{
                font-size: 40px !important;
            }
        }
        #projekty{
            p{
                font-size: 20px !important;
            }
        }
    }
}
@media screen and (max-width: 620px) {
    
    body{
        
        header{
            padding: 0 !important;
            margin: 0 !important;
            height: 15vh !important;
            width: 100vw !important;
            display: flex;
            justify-content: right;
            

            input{
                display: none;
            }
            input:not(:checked) ~ .menucontainer{
                opacity: 1;
            }
            .menu{
                display: none;
                
            }
            .menucontainer{
                width: 100vw !important;
                height: 80px !important;
                border-radius: 0 !important;
                padding: 0 !important;
                margin: 0 !important;
                transition: none !important;
                transform: none !important;
                

                ul{
                    display: flex !important;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 0 !important;
                    margin: 0 !important;
                    margin-top: 4vw !important;

                    div{
                        height: 100%;
                        

                        a{
                            padding: 0 !important;
                            margin: 0 !important;
                        } 
                    }
                }
            }
        }
        main{
            h1{
                font-size: 50px !important;
                margin-top: -50px;
                letter-spacing: 10px !important;
            }
            h2{
                font-size: 20px !important;
                margin-left: 42px !important;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    
    body{
        position: fixed;
        
        header{
            padding: 0 !important;
            margin: 0 !important;
            height: 60px !important;
            width: 100vw !important;
            opacity: 1;

            input{
                display: none;
            }
            input:not(:checked) ~ .menucontainer{
                opacity: 1;
            }
            .menu{
                display: none;
            }
            .menucontainer{
                
                display: flex !important;

                ul{

                    

                    div{
                        

                        a{

                        } 
                    }
                }
            }
        }
        main{
            h1{
                font-size: 35px !important;
                margin-top: -50px;
                letter-spacing: 10px !important;
            }
            h2{
                font-size: 15px !important;
                margin-left: 40px !important;
            }   
        }
    }
}
@media screen and (max-width: 320px) {
    
    body{
        position: fixed;
        
        header{
            padding: 0 !important;
            margin: 0 !important;
            height: 60px !important;
            width: 100vw !important;
            opacity: 1;

            input{
                display: none;
            }
            input:not(:checked) ~ .menucontainer{
                opacity: 1;
            }
            .menu{
                display: none;
            }
            .menucontainer{
                padding: 0 !important;
                margin: 0 !important;
                width: 105vw !important;
                height: 60px !important;
                border-radius: 0 !important;
                ul{
                    padding: 0 !important;
                    margin: 0 !important;
                    width: 105vw !important;
                    height: 100% !important;
                    display: flex !important;
                    justify-content: space-around !important;
                    a{
                        margin: 0 !important;
                        font-size: 15px !important;
                        padding-top: 17px;
                    }   
                }
            }
        }
        main{
            h1{
                font-size: 30px !important;
                margin-top: -50px;
                letter-spacing: 5px !important;
            }
            h2{
                font-size: 10px !important;
                
            }
        }
    }
}


@keyframes topOnload{
    0%{width: 22%;}
    100%{width: 100%;}
}
@keyframes middleOnload{
    0%{width: 22%;}
    100%{width: 75%;}
}
@keyframes nameAppear{
    0%{
        transform: translateY(-50px);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    20%{
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
    }
}
@keyframes wave{
    0%{transform: translate(-50%, 0) rotateZ(0deg);}
    50%{transform: translate(-50%, -2%) rotateZ(180deg);}
    100%{transform: translate(-50%, 0%) rotateZ(360deg);}
}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{transform: translateY(0);}
    40%{transform: translateY(-20px);}
    60%{transform: translateY(-10px);}
}