@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$color-background: #F1FAEE;
$color-font: #1D3557;
$color-dark: #457B9D;
$color-bright: #A8DADC;
$color-accent: #E63946;

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px $color-dark;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb{
    background: $color-bright;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: $color-bright;
    box-shadow: inset 0 0 5px $color-dark;
}
::-webkit-scrollbar-track-piece{
    background: $color-background;
}

*{
    font-family: 'Roboto Mono', monospace;
}
html{
    scrollbar-color: $color-font $color-dark;
    scroll-behavior: smooth;

    body{
        margin: 0 auto; padding: 0;
        box-sizing: border-box;
        background-color: $color-bright;
        overflow-x: hidden;
        position: relative;
        z-index: 0;
    
        header{
            display: flex;
            padding: 30px;
            justify-content: space-between;
    
            input{
                width: 55px;
                height: 55px;
                position: absolute;
                opacity: 0;
                cursor: pointer;
                z-index: 3;
            }
            input:checked ~ .menucontainer{
                opacity: 1;
                transform: translateX(20px);
                transition: all 0.3s linear;
            }
            input:checked ~ .menu #bottom{
                opacity: 0;
            }
            input:not(:checked) ~ .menu #bottom{
                opacity: 1;
            }
            input:checked ~ .menu #middle{
                transform: rotate(45deg);
                width: 100%;
                background-color: $color-background;
            }
            input:checked ~ .menu #top{
                rotate: -45deg;
                translate: 0px 20px;
                background-color: $color-background;
            }
            input:hover ~ .menu #middle{
                width: 100%;
            }
            input:hover ~ .menu #bottom{
                width: 100%;
            }
            input:checked:hover ~ .menu #top{
                background-color: $color-accent;
            }
            input:checked:hover ~ .menu #middle{
                background-color: $color-accent;
            }
            input:checked ~ .menucontainer ul{
                display: flex;
            }
            .menu{
                height: 60px;
                width: 60px;
                z-index: 2;

                #top, #middle, #bottom{
                    background-color: $color-dark;
                    height: 13px;
                    border-radius: 10px;
                }
                #top{
                    width: 100%;
                    animation: topOnload ease 0.8s;
                    transition: 0.5s;
                }
                #middle{
                    width: 75%;
                    margin-top: 8px;
                    animation: middleOnload ease 0.8s;
                    transition: 0.5s;
                }
                #bottom{
                    width: 22%;
                    margin-top: 8px;
                    transition: width 0.5s;
                    transition: 0.3s;
                }
            }
            .menucontainer{
                transform: translateX(-10px);
                transition: all 0.3s linear;
                opacity: 0;
                background-color: $color-dark;
                height: 60px;
                width: 470px;
                position: absolute;
                border-radius: 30px;
                margin-top: -3px;
                margin-left: -30px;
                padding-left: 50px;

                ul{
                    display: none;
                    flex-direction: row;
                    align-items: flex-start;
                    list-style-type: none;
                    margin-left: -40px;
                    
                    a{
                        position: relative;
                        display: block;
                        font-size: 21px;
                        color: $color-background;
                        text-decoration: none;
                        margin-left: 40px;

                        &::after{
                            position: absolute;
                            content: "";
                            top: 100%;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background: $color-background;
                            transform: scaleX(0);
                            transform-origin: right;
                            transition: transform 0.5s;
                        }
                        &:hover::after{
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }
                }
            }
            .sourceCode{
                display: flex;
                align-items: center;

                a{
                    color: $color-font;
                    text-decoration: none;

                    &:hover{
                        cursor: pointer;
                    }

                    img{
                        width: 60px;
                    }
                }
            }
        }
        main{
            height: 83vh;
            position: relative;
            z-index: -1;

            .name{
                margin-top: 120px;
                display: grid;

                h1{
                    color: $color-font;
                    font-size: 120px;
                    margin-left: 40px;
                    font-weight: bold;
                    letter-spacing: 15px;
                    grid-column: 1; grid-row: 1;
                    margin-bottom: 0;
                    z-index: 1;
                    animation-name: nameAppear, nameOpacity;
                    animation-timing-function: ease;
                    animation-duration: 0.7s;
                }
                h2{
                    color: $color-accent;
                    font-size: 50px;
                    margin-left: 46px;
                    margin-top: auto;
                    z-index: 1;
                    animation-name: nameAppear, nameOpacity;
                    animation-timing-function: ease;
                    animation-duration: 0.8s;
                }
            }
            .languages{
                margin-left: 30px;
                margin-top: -5px;
                display:flex;
                
                img{
                    opacity: 0.8;
                    margin-left: 15px;
                    width: 60px;
                    height: auto;
                    z-index: 1;
                    position: relative;
                    animation: nameAppear 0.9s ease, imageOpacity 0.9s ease;
                    transition: transform 0.2s ease, opacity 0.2s ease;
                    
                    &:hover{
                        // cursor: pointer;
                        transform: scale(1.1);
                        opacity: 1;
                    }
                }
                #imgRounded{
                    border-radius: 5px
                }

            }
            &:before, &:after{
                content: "";
                position: absolute;
                left: 50%;
                width: 300vw;
                height: 300vw;
                background-color: $color-background;
                animation-name: wave;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            &:before{
                bottom: 150px;
                border-radius: 45%;
                animation-duration: 10s;
            }
            &:after{
                bottom: 120px;
                opacity: .5;
                border-radius: 47%;
                animation-duration: 10s;
            }
            .arrow{
                position: fixed;
                bottom: 0;
                left: 50%;
                margin-left: -20px;
                width: 40px;
                height: 40px;
                background-image: url(../img/arrowDown.svg);
                background-size: contain;
            } 
            .bounce{
                animation: bounce 2s infinite;
            }
        }
        #projekty{
            width: 100%;
            height: 120vh;
            padding-bottom: 50vh;
            background: linear-gradient(180deg, $color-bright 0%, $color-bright 80%, $color-dark 100%);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            img{
                width: 100%;
                border-radius: 5px;
                transition: 0.5s;
                border: $color-font 1px solid;

                &:hover{
                    transform: scale(1.05);
                    transition: 0.5s;
                }
            }
            div{
                width: 30%;
                text-align: center;
                height: auto;
                p{
                    color: $color-font;
                    font-size: 3vw;
                }
            }
        }
        #kontakt{
            width: 100%;
            height: 50vh;
            background-color: $color-dark;
            font-size: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                color: $color-background;
                margin: 0;
                padding-top: 20px;
            }
            a{
                text-decoration: none;
                background-color: transparent;
                color: $color-bright;
            }
            a:hover{
                text-decoration: underline;
            }
            form{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 500px;
                color: $color-background;
                overflow: hidden;

                align-items: center;

                button{
                    height: 35px;
                    border-radius: 5px;
                    border: 0;
                    background-color: rgb(255, 255, 255, 0.8);
                    color: $color-font;
                    font-size: 20px;
                    width: 504px;
                }
                button:hover{
                    cursor: pointer;
                    background-color: rgb(255, 255, 255, 1);
                }
                div{
                    font-size: 25px;
                    display: flex;
                    justify-content: center;

                    input{
                        height: 30px;
                    }
                    textarea{
                        height: 150px;
                        padding-top: 5px;
                    }
                    input, textarea{
                        width: 500px;
                        border: none;
                        border-radius: 5px;
                        margin-bottom: 10px;
                        padding-left: 20px;
                    }
                    textarea:focus, input:focus{
                        outline: none;
                    }
                }
            }
        }
        .game{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 85vh;

            .lista{
                width: 300px;

                h1{
                    text-align: center;
                }
                .input{
                    display: flex;
                    padding-bottom: 40px;

                    #inputList{
                        width: 90%;
                    }
                    #add{
                        width: 10%;
                        font-size: 20px;
                    }
                }
                .container{
                    width: 300px;
                    display: flex;
                    flex-direction: column;

                    .content{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;

                        .check{
                            width: 35px;
                            height: 35px;
                            margin: 0;
                        }
                        .textvalue{
                            width: 90%;
                            margin: 0;
                            padding-top: 6px;
                            padding-left: 6px;
                        }
                        .trash{
                            width: 30px;
                            height: 30px;
                            margin-top: 2px;
                        }
                        .trash:hover{
                            cursor: pointer;
                        }
                        .check:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .wrapper{
            width: 65vmin;
            height: 70vmin;
            background-color: $color-dark;
            border-radius: 5px;
            display: flex;
            overflow: hidden;
            flex-direction: column;
        }
        .wyniki{
            color: $color-background;
            padding: 20px 27px;
            display: flex;
            justify-content: space-between;
        }
        .gra{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template: repeat(20, 1fr) / repeat(20, 1fr);
            background-color: $color-font;

            .food{
                background-color: $color-accent;
            }
            .player{
                background-color: $color-dark;
            }
        }
    }
}

@media screen and (max-width: 1550px) {  
    body{
        main{
            h1{
                word-spacing: 100vw;
                margin-top: -50px;
            }
        }
        #projekty{
            height: 100vh !important;
            padding-bottom: 50vh !important;
            p{
                font-size: 3vw !important;
            }
        }
    }
}
@media screen and (max-width: 855px) { 
    body{
        main{
            h1{
                font-size: 80px !important;
                margin-top: -50px;
            }
            h2{
                font-size: 40px !important;
            }
            .languages{
                img{
                    width: 50px !important;
                    margin-left: 15px !important;
                }
                #imgRounded{
                    border-radius: 4px !important;
                }
            }
        }
        #projekty{
            display: flex;
            flex-wrap: wrap;
            
            div{
                width: 40% !important;
                text-align: center;
                height: 0 !important;

                p{
                    font-size: 3vw !important;
                }
            }
        }
    }
}
@media screen and (max-width: 620px) {
    body{
        header{
            padding: 0 !important;
            margin: 0 !important;
            height: 60px !important;
            width: 100vw !important;
            display: flex;
            justify-content: right;

            input{
                display: none;
            }
            input:not(:checked) ~ .menucontainer{
                opacity: 1;
            }
            .menu{
                display: none;
                
            }
            .menucontainer{
                width: 100vw !important;
                height: 80px !important;
                border-radius: 0 !important;
                padding: 0 !important;
                margin: 0 !important;
                transition: none !important;
                transform: none !important;
                

                ul{
                    display: flex !important;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 0 !important;
                    margin: 0 !important;
                    margin-top: 25px !important;

                    div{
                        height: 100%;
                        a{
                            padding: 0 !important;
                            margin: 0 !important;
                        } 
                    }
                }
            }
        }
        main{
            h1{
                font-size: 50px !important;
                margin-top: -50px;
                letter-spacing: 10px !important;
            }
            h2{
                font-size: 20px !important;
                margin-left: 42px !important;
            }
            .languages{
                img{
                    width: 20px !important;
                    margin-left: 8px !important;
                }
                #imgRounded{
                    border-radius: 2px !important;
                }
            }
        }
        #projekty{
                height: 80vh !important;
                padding-bottom: 20vh !important;
        }
    }
}
@media screen and (max-width: 450px) {
    
    body{
        header{
            padding: 0 !important;
            margin: 0 !important;
            height: 60px !important;
            width: 100vw !important;
            display: flex;
            justify-content: right;
            

            input{
                display: none;
            }
            input:not(:checked) ~ .menucontainer{
                opacity: 1;
            }
            .menu{
                display: none;
                
            }
            .menucontainer{
                width: 100vw !important;
                height: 70px !important;
                border-radius: 0 !important;
                padding: 0 !important;
                margin: 0 !important;
                transition: none !important;
                transform: none !important;
                

                ul{
                    display: flex !important;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 0 !important;
                    margin: 0 !important;
                    margin-top: 25px !important;

                    div{
                        height: 100%;
                        a{
                            padding: 0 !important;
                            margin: 0 !important;
                            font-size: 15px !important;
                        } 
                    }
                }
            }
        }
        main{
            h1{
                font-size: 35px !important;
                margin-top: -50px;
                letter-spacing: 10px !important;
            }
            h2{
                font-size: 20px !important;
                margin-left: 42px !important;
            }
        }
        #projekty{
            height: 60vh !important;
            padding-bottom: 20vh !important;
        }
    }
}
@media screen and (max-width: 320px) {
    
    body{
        header{
            padding: 0 !important; margin: 0 !important;
            height: 20vh !important;
            width: 100vw !important;
            display: flex;
            justify-content: right;
            

            input{
                display: none;
            }
            input:not(:checked) ~ .menucontainer{
                opacity: 1;
            }
            .menu{
                display: none;
                
            }
            .menucontainer{
                padding: 0 !important; margin: 0 !important;
                width: 100vw !important;
                height: 20vw !important;
                border-radius: 0 !important;
                transition: none !important;
                transform: none !important;
                
                ul{
                    padding: 0 !important; margin: 0 !important;
                    display: flex !important;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 7vw !important;

                    div{
                        height: 100%;

                        a{
                            padding: 0 !important; margin: 0 !important;
                            font-size: 5vw !important;
                        } 
                    }
                }
            }
        }
        main{
            h1{
                font-size: 10vw !important;
                letter-spacing: 3vw !important;
                margin-left: 10vw !important;
            }
            h2{
                font-size: 5vw !important;
                margin-left: 10vw !important;
            }
        }
        #projekty{
            height: 35vh !important;
            padding-bottom: 15vh !important;
        }
    }
}


@keyframes topOnload{
    0%{width: 22%;}
    100%{width: 100%;}
}
@keyframes middleOnload{
    0%{width: 22%;}
    100%{width: 75%;}
}
@keyframes nameAppear{
    0%{
        transform: translateY(-50px);
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    // 20%{
    //     transform: translateY(0);
    //     -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    //     clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    // }
    100%{
        transform: translateY(0);
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    }
}
@keyframes imageOpacity{
    0%{
        opacity: 0;
    }
    // 20%{
    //     opacity: 0.8;
    // }
    100%{
        opacity: 0.8;
    }
}
@keyframes nameOpacity{
    0%{
        opacity: 0;
    }
    // 20%{
    //     opacity: 1;
    // }
    100%{
        opacity: 1;
    }
}
@keyframes wave{
    0%{transform: translate(-50%, 0) rotateZ(0deg);}
    50%{transform: translate(-50%, -2%) rotateZ(180deg);}
    100%{transform: translate(-50%, 0%) rotateZ(360deg);}
}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{transform: translateY(0);}
    40%{transform: translateY(-20px);}
    60%{transform: translateY(-10px);}
}